@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    @apply bg-bg dark:bg-bg-dark
}

/* scroll wsp-content-messages */

#wsp-content-messages::-webkit-scrollbar {
    width: 0px;
}

#wsp-sidebar::-webkit-scrollbar{
    width: 0px;
}



/* #flow-details-info-container::-webkit-scrollbar{
    width: 0px;
} */
