@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-[#000000]
}


/* scroll wsp-content-messages */

#wsp-content-messages::-webkit-scrollbar {
    width: 0px;
}

#wsp-sidebar::-webkit-scrollbar{
    width: 0px;
}

#wsp-sidebar::-webkit-scrollbar-track {
    background: transparent;
}

#wsp-sidebar::-webkit-scrollbar-thumb {
    background: #374045;
}

#flow-details-info-container::-webkit-scrollbar{
    width: 0px;
}